  <%= javascript_tag do %>
    window.tree_id = <%= raw @tree.id.to_json %>
    window.parent_id = <%= raw params[:parent_id].to_json %>
  <% end %>


  <h2 style="text-align:center">Birth a child from this sketch by working your magic and clicking save.</h2>
  <%= render "/shared/new_canvas" %>
