<div class='parent_picture'>
  <% if @sketch.parent != nil %>
    <img src='<%= @sketch.parent.url %>'/>
  <% end %>
</div>

<div class='sketch_picture'>
  <img src='<%= @sketch.url %>'/>
</div>

<div class='children_picture'>
  <% @sketch.children.each do |children| %>
    <img src='<%= children.url %>'/>
  <% end %>
</div>

<%= link_to 'Go Back to Tree', tree_path(@tree.id) %>