<div class='parent_picture'>
  <img src='<%= @tree.parent.url %>'/>
</div>

<div class='sketch_picture'>
  <img src='<%= @tree.url %>'/>
</div>

<div class='children_picture'>
  <% @tree.children.each do |children| %>
    <img src='<%= children.url %>'/>
  <% end %>
</div>

<%= link_to 'Go Back to Tree', tree_path(@tree.id) %>