<% if !logged_in? %>
  <div class='canvas'>
    <%= render "/shared/new_canvas" %>
  </div>
<% end %>

<div class='popular'>
  <%= link_to 'Tree Show', tree_path(1) %> <!-- temp link -->
  <% @popular.each do |tree| %>

  <% end %>
</div>

<div class='recently_added'>

  <% @latest.each do |sketch| %>
    <%= javascript_tag do %>
      window.sketch = <%= raw sketch.url.to_json %>
    <% end %>
  <% end %>
</div>
