<canvas width="600" height="600" id="canvas"></canvas>
<% if session[:current_user_id] == nil %>
  <div class='canvas'>
    <%= render "new" %>
  </div>
<% end %>

<div class='popular'>
  <%= link_to 'Tree Show', tree_path(1) %> <!-- temp link -->
  <% @popular.each do |tree| %>

  <% end %>
</div>

<div class='recently_added'>

  <% @latest.each do |sketch| %>
    <%= javascript_tag do %>
      window.sketch = <%= raw sketch.url.to_json %>
    <% end %>
  <% end %>
</div>
