<% @tree.sketches.each_with_index do |sketch, index| %>
  <% # this might need to be an edit route since the new route doesn't usually take 2 args %>
  <a href="<%= new_tree_sketch_path(@tree, sketch) %>">
    <canvas width="600" height="600" class="tree-view-sketches" id="sketch-<%= index %>"></canvas>
  </a>
  <script type="text/javascript">
    var jsonString = '<%= raw sketch.url %>';
    var sketchId = "sketch-" + "<%= index %>";
    console.log(sketchId);
    sketchCanvas = new fabric.StaticCanvas(sketchId, {isDrawingMode: false});
    sketchCanvas.loadFromJSON(jsonString, sketchCanvas.renderAll.bind(sketchCanvas));
  </script>
<% end %>

