
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

<%= javascript_tag do %>
  window.rootJSON = <%= raw @tree.build_tree %>
  window.sketches = <%= raw @sketches.to_json %>
  window.tID = <%= raw @tree.id %>
<% end %>

<h1>Explore sketch history</h1>

<div id='tree-json'>
</div>
