#canvas-partial-box {
  border: 3px solid #999999;
  cursor:pointer;
  background-color: white;
  /*margin-left: auto;
  margin-right: auto;*/
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.tree-view-sketches, .most-recent-sketches, .parent, .sketch, .children {
  background-color: white;
}


.canvas-container {
  /*margin-left: auto;
  margin-right: auto;*/
}

#canvas-div{
  display: inline;
  float:left;
  margin:10px;
}

.format-canvas-elements{
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}

#sketch-submit {
  margin-top:2px;
  width: 603px;
}

#ink {
  text-align: center;
}

#clear-canvas {
  margin-left:10px;
}
