/*@media screen and (max-width:760px) {
 #drawing-tools {margin-right:50px;}
 #canvas-div {position:relative !important;}
 .lineage-pictures{display:none;}
 .new-sketch-container{max-width: -10%}
}*/




/*
@media screen and (max-width:820px) {
   .format-canvas-elements {width:100%;}
   .lineage-pictures{display:none;}
}

@media screen and (max-width:954px){
  .new-sketch-container{max-width:91%;}
}

@media screen and (max-width:12)*/

/*@media screen and (max-width:1060px) {
   .new-sketch-container {max-width:90% !important;}
   .lineage-pictures{display:none;}
}



@media screen and (max-width:1200px) {
  .new-sketch-container {max-width:90% !important;}
}

@media screen and (min-width: 1224px){
   .new-sketch-container{max-width: 65% !important;}

}

@media screen and (min-width:1285px){
  .new-sketch-container{max-width:60% !important;}
}

@media screen and (min-width:1385px){
  .new-sketch-container{max-width:56% !important;}
}

@media screen and (min-width:1485px){
  .new-sketch-container{max-width:50% !important;}
}

@media screen and (min-width:1685px){
  .new-sketch-container{max-width:44% !important;}
}

@media screen and (min-width:1785px){
  .new-sketch-container{max-width:39% !important;}
}

@media screen and (min-width:1789px){
  .new-sketch-container{max-width:60% !important;}
}

@media screen and (min-width:1791px){
  .new-sketch-container{max-width:41% !important;}
}

@media screen and (min-width:180px){
  .new-sketch-container{max-width:60% !important;}
}


@media screen and (min-width:1886px){
  .new-sketch-container{max-width:39% !important;}
}*/*/







