
.parent_picture {
  text-align: center;
  width: 33%;
  margin-top:25px;
  float:left;
}

.sketch_picture {
  text-align: center;
  width: 33%;
  margin-top:25px;
  float:left;
}

.children_picture_div {
  margin-top:25px;
  width:33%;
  float:left;
}

.children_picture {
  text-align: center;
  height:575px;
  overflow: auto;
}