html, body {
  height: 100%;
}

.page {
  min-height: 100%;
  margin-bottom: 35px;
}

.page:after {
  content: "";
  display: block;
}

#footer, .page:after {
  height: 35px;
}
#footer {
  background: #333;
  color: #eee;
  text-align: center;
  vertical-align: middle;
  line-height: 35px;
}

#footer a {
  color: #eee;
}

