html, body {
  height: 100%;
}

.page {
  min-height: 100%;
  margin-bottom: -142px;
  position:relative;
}

.page:after {
  content: "";
  display: block;
}

#footer, .page:after {
  height: 142px;
}
#footer {
  background: #333;
  color: #eee;
  text-align: center;
  font-size: 24px;
}

#footer a {
  color: #eee;
}

