#footer{
 /* margin-top: -3em;*/
  position:fixed;
  /*height: 4.688em;*/
  width:100%;
  color: #333;
  text-align: center;
  /*margin: 0;*/
}

/*#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;

}*/
