#index-container {
margin-left: 29px;
height: 800px;
width: 1850px;
}

.popular {
float: left;
margin: 65px;
margin-top: 10px;
margin-left: 400px;
text-align: center;
}

.recently_added {
float: right;
margin: 75px;
margin-top: 10px;
margin-right: 400px;
text-align: center;
}

#separator-bar {
height: 50px;
width: 100%;
background-color: #333;
margin-top: 300px;
}

#canvas-partial-box{
	border:3px solid #333;
}
