#index-container {
margin-left: auto;
margin-right: auto;
height: 50em;
width: 100em;
border-top: 3.125em solid #333;
}

.popular {
float: left;
width:900px;
display:inline-block;
margin-top: .625em;
text-align: center;
}
.recently-added{
width: 275px;
display: inline-block;
float: right;
margin-top: .625em;
text-align: center;
}

/*#separator-bar {
height: 3.125em;
width: 100%;
background-color: #333;
margin-top: 18.750em;
}*/
.button-container {
height: 15em;
width: 62em;
margin-left: auto;
margin-right: auto;
}

.collab-button, .random-button {
background-color: #333;
font-size: 18px;
color: #eee;
border: none;
padding-top: 2.5em;
padding-bottom: 2.5em;
padding-right: 10em;
padding-left: 10em;
margin-top: 4em;
float: right;
}

.random-button {
float:right;
background-color: #7321d1;
}
.collab-button{
  float:left;
  background-color: #1bc43d;
}


.two-column {
height: 15em;
width: 74em;
margin-left: auto;
margin-right: auto;
}

.popular canvas{
  float:left;
  margin:1em;
}
.recently-added canvas{
  margin-top:1em;
}






