#index-container {
margin-left: 1.813em;
height: 50em;
width: 113.375em;
}

.popular {
float: left;
margin: 4.063em;
margin-top: .625em;
margin-left: 25em;
text-align: center;
}

.recently_added {
float: right;
margin: 4.688em;
margin-top: .625em;
margin-right: 25em;
text-align: center;
}

#separator-bar {
height: 3.125em;
width: 100%;
background-color: #333;
margin-top: 18.750em;
}

#canvas-partial-box{
	border:3px solid #333;
}
