nav{
  height: 4.688em;
  width:100%;
  background-color: #333;
  top:0;
}

li {
  display: inline;
}

li a{
  text-align: center;
  color: #eee;
  text-decoration: none;
  font-size:1.25em;
  line-height: 75px;
  display:block;
}

button a{
  text-align: center;
  color: #eee;
  text-decoration: none;
  font-size:1.25em;
  line-height: 75px;
  display:block;
}

nav ul {
  height:4.688em;
  padding: 0;
  margin: 0;
}

h1 {
  border-bottom: .063em solid gray;
  padding-bottom: 10px;
}

.nav-block{
  padding:0;
  margin: 0;
  display: inline-block;
  width: 12em;
  line-height: 3.688;
  height: 4.7em;
  width: 17em;
  margin-left: 8px;
  text-align: center;
  vertical-align: middle;
}

.nav-buttons{
  display:inline;
  margin-right: auto;
  margin-left: auto;
}

.nav-create{
  background-color: #E3163F;
}
.nav-profile{
  background-color: #E36B16;
}
.nav-signout{
  background-color: #165EE3;
}
.nav-yellow{
 background-color: #E3E316;
}
.nav-green{
  background-color: #1bc43d;
}
.nav-ink {
  background-color: #333;
}



@media only screen and (max-width : 2000px) {
  .nav-block{
    margin: 0;
    display: inline-block;
    width: 20%;
    line-height: 3.688;
    height: 4.7em;
    margin-left: 9px;
    text-align: center;
    vertical-align: middle;
  }
  #index-container{
   width:100%;
 }
}





@media screen and (max-width : 1366){
 .nav-block{
  margin: 0;
  display: inline-block;
  width: 9%;
  line-height: 3.688;
  height: 4.7em;
  margin-left: 9px;
  text-align: center;
  vertical-align: middle;
}
#index-container{
 width:90%;
}
.two-column{
  width:90%;
}
.recently-added{
  float:left;
  width:900px;
  margin:1em;
  margin-left:auto;
  margin-right: auto;
}

.recently-added canvas{
  margin-right:3px;
}
}


