body{
	font-family: 'Roboto', sans-serif;
  padding:0;
  margin:0;
  color:#333;
}
h1{
  text-align: center;
}

#sign-up{

}

#sign-form{

}

input[type="submit"], #sketch-submit, #clear-canvas {
  border: none;
  background-color: #165EE3;
  color: #eee;
}

#clear-canvas{
  background-color: #E3163F;
  margin-top:30px;
}

#immediate-family{
	text-align:center;
}

.profile{
	text-align: center;
}
