body{
  height:100%;
	font-family: 'Roboto', sans-serif;
  padding:0;
  margin:0;
  color:#333;
}

h1{
  text-align: center;
}

#sign-up{

}

#sign-form{

}

input[type="submit"], #sketch-submit, #clear-canvas, .log-in {
  border: none;
  background-color: #165EE3;
  color: #eee;
  margin-bottom:10px;
  text-decoration: none;
  padding:7px;
}

#clear-canvas{
  background-color: #E3163F;
  margin-top:42px;
}

#immediate-family{
	text-align:center;
}

.profile{
	text-align: center;
}

#sign-up, #login{
  width:50%;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}

#login form{
}

:focus {
  outline: 0;
}
