<div id="footer">
  <p><a href= 'https://github.com/jsum528/ink'>About</a> Eversketch ||  Made with love at <a href="http://devbootcamp.com/2013/04/03/check-out-dbc-chicago-on-built-in-chicago/">DBC Chicago</a></p>
</div>
